name: Deploy EasyCRUD to EC2

on:
push:
branches:
- main

jobs:
deploy:
runs-on: ubuntu-latest

```
steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: Deploy on EC2 via SSH
    uses: appleboy/ssh-action@v1.0.3
    with:
      host: ${{ secrets.EC2_HOST }}
      username: ${{ secrets.EC2_USER }}
      key: ${{ secrets.EC2_SSH_KEY }}
      script: |
        cd ~/project
        echo "Pull latest code"
        git pull origin main
        echo "Stop old containers"
        docker compose down
        echo "Rebuild & start containers"
        docker compose up -d --build
        echo "Remove unused images"
        docker image prune -f
```
